<html>

<head>
  <title>Entities</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
  <body>
    <h1>Entities</h1>
    <ul>
      <% entities.forEach(function(entity){ %>
        <li> <%= JSON.stringify(entity) %> </li>
      <% }); %>
    </ul>
  </body>
<script>
</script>
</html>
