<html>

<head>
  <title>Entities</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
  <body>
    <h1>Entities</h1>
    <%= JSON.stringify(entities) %>
  </body>
<script>
</script>
</html>
